<?py
from common import *
from tenjin.helpers import *
?>

<h1><a href="#{{BASE_URL}}">#{{getAttr('SITE_TITLE2'}}</a></h1>
	<div id="sidebar1">
		<h2 class="small">分类</h2>
		<ul>
<?py for cat in cats: ?>
			<li class="cat-item cat-item-#{cat.name}"><a href="#{{BASE_URL}}/category/#{cat.name}/" title="View all posts filed under #{cat.name}">#{cat.name}</a></li>
<?py #endfor ?>
		</ul>

<h2 class="small">热门标签</h2>
		<div class="sidertags">
<?py for tagi in tags: ?>
<a href="#{{BASE_URL}}/tag/#{tagi.name}/">#{tagi.name}</a>
<?py #endfor ?>

		<h2 class="small">归档</h2>
		<ul>
<?py for archive in archives: ?>
			<li class="cat-item cat-item-#{archive.name}"><a href="#{{BASE_URL}}/archive/#{archive.name}/" title="View all posts filed under #{archive.name}">#{archive.name}</a></li>
<?py #endfor ?>
		</ul>
		
<div class="c"></div>

		</div>

<?py if 'comments' in _context and comments: ?>
<h2 class="small" style="margin-top:10px;">最近评论</h2>

		<ul class="comments">
		<?py for each in comments: ?>
			<?py if GRAVATAR_SUPPORT: ?>
				<li style="background: url('#{each.gravatar}?s=30&d=monsterid') no-repeat;">
			<?py #endif ?>
			#{each.author} Says: <span class="grey">#{each.add_time}</span> <br/> <a href="#{{BASE_URL}}/t/#{each.postid}#r#{each.id}">#{each.short_content}</a></li>
		<?py #endfor ?>
		<div class="c"></div>		
		</ul>
<?py #endif ?>

<?py if LINK_BROLL_SUPPORT: ?>
	<?py include("links.html") ?>
<?py else: ?>
<?py #endif ?>

	</div>
