<h2>#{title}</h2>

<form action="" method="post">
<p>
每页显示文章数: <input type="text" name="EACH_PAGE_POST_NUM" value="#{EACH_PAGE_POST_NUM}" size="46" tabindex="2" /><br>
每页评论数: <input type="text" name="EACH_PAGE_COMMENT_NUM" value="#{EACH_PAGE_COMMENT_NUM}" size="46" tabindex="2" /><br>
显示相关文章数: <input type="text" name="RELATIVE_POST_NUM" value="#{RELATIVE_POST_NUM}" size="46" tabindex="2" /><br>
文章列表显示字符数: <input type="text" name="SHORTEN_CONTENT_WORDS" value="#{SHORTEN_CONTENT_WORDS}" size="46" tabindex="2" /><br>
描述显示的字符数: <input type="text" name="DESCRIPTION_CUT_WORDS" value="#{DESCRIPTION_CUT_WORDS}" size="46" tabindex="2" /><br>
显示最近评论数: <input type="text" name="EACH_PAGE_COMMENT_NUM" value="#{EACH_PAGE_COMMENT_NUM}" size="46" tabindex="2" /><br>
边栏评论显示字符数: <input type="text" name="RECENT_COMMENT_CUT_WORDS" value="#{RECENT_COMMENT_CUT_WORDS}" size="46" tabindex="2" /><br>
边栏显示友情链接数: <input type="text" name="LINK_NUM" value="#{LINK_NUM}" size="46" tabindex="2" /><br>
每天最大评论数: <input type="text" name="MAX_COMMENT_NUM_A_DAY" value="#{MAX_COMMENT_NUM_A_DAY}" size="46" tabindex="2" /><br>
页面缓存时间: <input type="text" name="PAGE_CACHE_TIME" value="#{PAGE_CACHE_TIME}" size="46" tabindex="2" /><br>
热门标签显示数: <input type="text" name="HOT_TAGS_NUM" value="#{HOT_TAGS_NUM}" size="46" tabindex="2" /><br>
Archives显示数: <input type="text" name="MAX_ARCHIVES_NUM" value="#{MAX_ARCHIVES_NUM}" size="46" tabindex="2" /><br>
<input type="submit" class="bigbtn" tabindex="4" value=" Submit " /></p>
</form>
<br />

