<h2>#{title}</h2>

<form action="" method="post">
<p>
Site Title: <input type="text" name="sitetitle" value="#{sitetitle}" size="46" tabindex="3" /><br>
Site Title2: <input type="text" name="sitetitle2" value="#{sitetitle2}" size="46" tabindex="3" /><br>
Site SubTitle: <input type="text" name="sitesubtitle" value="#{sitesubtitle}" size="46" tabindex="3" /><br>
Keywords: <input type="text" name="keywords" value="#{keywords}" size="46" tabindex="3" /><br>
Side description: <input type="text" name="sidedecr" value="#{sidedecr}" size="46" tabindex="3" /><br>
Admin Name: <input type="text" name="adminname" value="#{adminname}" size="46" tabindex="3" /><br>
Move Secret: <input type="text" name="move_secret" value="#{move_secret}" size="46" tabindex="3" /><br>
Notice Email: <input type="text" name="notice" value="#{notice}" size="46" tabindex="3" /><br>
MAIL FROM: <input type="text" name="mailfrom" value="#{mailfrom}" size="46" tabindex="3" /><br>
MAIL PSW:  <input type="text" name="psw"  value="#{psw}"  size="46" tabindex="3" /><br>
MAIL SMTP: <input type="text" name="mailsmtp" value="#{mailsmtp}" size="46" tabindex="3" /><br>
MAIL PORT: <input type="text" name="port" value="#{port}" size="46" tabindex="3" /><br>
<input type="submit" class="bigbtn" tabindex="4" value=" Submit " /></p>
</form>
<br />

